.nav{
    background: slateblue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo{
    height: 3em;
    background: white;
}

.nav__img{
    height: 100%;
}

.nav__link{
    color: white;
    text-decoration: none;
}

.nav__link--color{
    color: tomato;
}



